body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  background: linear-gradient(90deg, #e3e3e3 60%, #f5f5f5 100%);
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid #0077cc;
  transition: background 0.3s, box-shadow 0.3s;
  letter-spacing: 1px;
}

.containerMain {
  grid-area: main;
  padding: 1.5rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  padding: 1.5rem;
}

footer {
  grid-area: footer;
  background: linear-gradient(90deg, #e3e3e3 60%, #f5f5f5 100%);
  font: bold;
  text-align: center;
}

.destacadosHome {
  max-height: 380px;
  overflow: hidden; /* Oculta el resto del texto */
}

.cabecera nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cabecera nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.cabecera nav ul li a:hover {
  color: #0077cc;
}

#catalogo {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 1.5rem;
}

#destacados {
  text-align: center;
}

.containerNavbar {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}
