body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  background: linear-gradient(90deg, #e3e3e3 60%, #f5f5f5 100%);
  /* padding: 2rem 1rem; */
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid #0077cc;
  transition: background 0.3s, box-shadow 0.3s;
  letter-spacing: 1px;
}

.containerMain {
  grid-area: main;
  padding: 1.5rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  padding: 1.5rem;
}

footer {
  grid-area: footer;
  background: linear-gradient(90deg, #e3e3e3 60%, #f5f5f5 100%);
  font: bold;
  text-align: center;
}

.destacadosHome {
  max-height: 380px;
  overflow: hidden; /* Oculta el resto del texto */
}

.cabecera nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cabecera nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.cabecera nav ul li a:hover {
  color: #0077cc;
}

#hero {
  display: grid;
  gap: 1rem;
  text-align: center;
}

#catalogo {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 1.5rem;
}

#destacados {
  text-align: center;
}

.containerNavbar {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}

.containerCarrito {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
}

.containerNavbar ul {
  margin-left: 8px;
}

#btnCarrito {
  background-color: #B3A799;
  color: black;
  border: 1px solid #B3A799;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  
}

#btnCarrito::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url('../assets/img/cart-shopping-regular-full.svg');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.logoCarrito {
  width: 24px;
  height: 24px;
}
