.contacts {
    gap: 1rem;
    background: #d9d9d9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(6 6 6 / 74%);
    font-family: Arial, sans-serif;
}

.contacts p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
}

.contacts a {
    color: #5E8CAB;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.contacts a:hover {
    color: #3f6d8a;
    text-decoration: underline;
}

.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #B77C52;
    /* color secundario */
    color: white;
    text-align: center;
}

.cabecera nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.cabecera nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cabecera nav ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background: #B3A799;
    color: #333;
    margin-top: 2rem;
}