.containerPageProd {
    width: max-content;
    margin: auto;
    padding: 1rem;

    .containerTitle {
        margin-bottom: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            color: #333;
        }
    }

    .containerData {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .containerImage {
            flex: 1;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }
        }

        .containerInfo {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .containerPrice {
                font-size: 1.5rem;
                font-weight: 600;

                span {
                    color: #B77C52;
                }
            }

            .containerData{
                font-size: 1rem;
                color: #555;
                display: flex;
                flex-direction: column;
            }

            .addToCartButton {
        padding: 0.75rem 1.5rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background-color: #0056b3;
        }
    }
        }
    }
}

@media (max-width: 600px) {
    .containerPageProd .containerData {
        flex-direction: column;
    }
}