.resumen-compra,
.formulario-compra {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}


h2 {
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

#listaCarrito {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.total {
    font-weight: bold;
    text-align: right;
    margin-top: 1rem;
}

.formulario-compra form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.campo label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.campo input,
.campo select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.btn-comprar {
    background-color: #5E8CAB;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #49718a;
}

