.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 275px;
  height: 375px;
  padding: 1rem;

  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.producto-img {
  max-width: 180px;
  max-height: 80px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  object-fit: cover;
}

.producto h3 {
  margin: 0.5rem 0;
  font-size: 20px;
  text-align: center;
  height: 3rem;
  display: -webkit-box;
  /* Necesario para line-clamp */
  -webkit-box-orient: vertical;
  /* Orientación vertical del box */
  -webkit-line-clamp: 2;
  /* Número de líneas a mostrar */
  overflow: hidden;
  /* Oculta el resto del texto */
  text-overflow: ellipsis;
  /* Agrega los tres puntos al final */
}

.producto p {
  margin: 0.2rem 0;
  font-size: 14px;
  text-align: left;
  display: -webkit-box;
  /* Necesario para line-clamp */
  -webkit-box-orient: vertical;
  /* Orientación vertical del box */
  -webkit-line-clamp: 1;
  /* Número de líneas a mostrar */
  overflow: hidden;
  /* Oculta el resto del texto */
  text-overflow: ellipsis;
  /* Agrega los tres puntos al final */
}

.cardDescription {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.producto button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #5e8cab;
  /* tu color principal */
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.producto button:hover {
  background: #3f6d8a;
}

.producto button:active {
  transform: scale(0.9);
  /* Se achica un poquito */
  background: #3f6d8a;
}

#categoria,
button[type="submit"] {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background: #5e8cab;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #3f6d8a;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.filtro {
  label {
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 14px;
  }

  select {
    border-radius: 4px;

    @media (max-width: 580px) {
      max-width: 200px;

    }
  }
}